<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Login - Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="/css/mystyle.css" />
</head>
<body>
  <div class="container" >
     <br>
    <div class="content">      
      <!--FORMULÁRIO DE LOGIN-->
      <div id="login">
        <form method="post" action=""> 
          <h1>Login Admin</h1> 
          <p> 
            <label for="nome_login">Username</label>
            <input id="nome_login" name="nome_login" required="required" type="text" placeholder="username"/>
          </p>
           
           <p> 
            <label for="email_login">E-mail</label>
            <input id="email_login" name="email_login" required="required" type="password" placeholder="e-mail" /> 
          </p>
           
          <p> 
            <label for="email_login">Password</label>
            <input id="email_login" name="email_login" required="required" type="password" placeholder="password" /> 
          </p>

          <p> 
            <input type="submit" value="Login" /> 
          </p>
          
          <p class="link">
            Entrar como usuário
            <a href="/">User</a>
          </p>
          
        </form>
      </div>
    </div>
  </div>  
</body>
</html>