<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meu App</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-light bg-primary">
		</h1 class="navbar-brand"> Joshebr21 - Create Admin<h1>
	</div>
	<br>
	<!-- tela index de login de usuarios  -->
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2>Signup Admin</h2>
				<div class="card-body">
					<form>
					  <div class="form-row align-items-center">
					  	<div class="col-1">
					    	<label class="sr-only" for="inlineFormInput">Código</label>
					      	<input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Código">
					    </div>
					    <div class="col-auto">
					      	<label class="sr-only" for="inlineFormInput">Nome</label>
					      	<input type="text" class="form-control mb-6" id="inlineFormInput" placeholder="Nome">
					    </div>
					    <div class="col-4">
					      	<label class="sr-only" for="inlineFormInput">Senha</label>
					      	<input type="password" class="form-control mb-6" id="inlineFormInput" placeholder="password">
					    </div>
					    <div class="form-group col-md-4">
					      	<label for="inputEstado">Estado</label>
					      	<select id="inputEstado" class="form-control">
					        	<option selected>Escolher...</option>
					        	<option>Admin</option>
					        	<option>User</option>
					      	</select>
					    </div>
					    <br>
					    <div class="col-auto">
					      	<button type="submit" class="btn btn-primary mb-2">Salvar</button>
					    </div>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim tela de logim-->
</body>	
</html>	