<!DOCTYPE html>
<html class="" lang="pt-br">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  


  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>JS.CODER</title>
  <link rel="stylesheet" media="all" href="../css/main-1.css"> 
  <link rel="stylesheet" media="all" href="../css/main-2.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
  <div id="fb-root"></div>

    <header class="bg-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="logo-area">
              <a href="/" id="BrandImage">
                <img src="../images/icon.jpg" alt="">
              </a>

          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <nav class="container menu-desktop reset-padding">
          	<ul class="menu">
          		<li class="active"><a href="#">Início</a></li>
              <li id="menu-a68623a4-bc2b-4624-be85-da8374671ca6" class=""><a href="users/portifolio" target="_self" title="">Portifolio</a></li>
          		<li id="menu-5651a69d-3e60-4754-95f4-bbe3bf8412f6" class=""><a href="users/sobre" target="_self" title="">Sobre</a></li>
          		<li id="menu-dec4fd05-176c-4154-9338-a06195e38875" class=""><a href="users/contato" target="_self" title="">Contatos</a>
              </li>
          	</ul>
          </nav>
        </div>
      </div>
    </header>

<!-- Menu Responsivel -->
<style> /* mudificando a cor do icon de menu responsivo*/
  #menu{
    color: white;
  }
</style>

<nav class="menu-responsivo" >
  <div class="panel-group" id="menu-responsivo-1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default reset-border">
      <div class="panel-heading" role="tab" id="menu-responsivo-one">
        <h4 class="panel-title">
          
          <a data-toggle="collapse" data-parent="#menu-responsivo-1" href="#menu-colapso-1" aria-expanded="true" aria-controls="menu-colapso-1">
            <!-- <i class="fa fa-bars icon-menu"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" id="menu">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg><i class="bi bi-list"></i>
          </a>
        </h4>
      </div>
      <div id="menu-colapso-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="menu-responsivo-one">
        <div class="panel-body corpo-menu-resp">
          <ul id="item-menu-resp">
            <li class="active"><a href="">Início</a></li>
            <li id="menu-a68623a4-bc2b-4624-be85-da8374671ca6" class=""><a href=" " target="_self" title="">Portifolio</a></li>
            <li id="menu-5651a69d-3e60-4754-95f4-bbe3bf8412f6" class=""><a href="" target="_self" title="">Sobre</a></li>
            <li id="menu-dec4fd05-176c-4154-9338-a06195e38875" class=""><a href="" target="_self" title="">Contatos</a></li>
    
        </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<main>
  
  <!--  Inicio carousel -->

  <section>
    <div id="MainCarousel">
      <div style="max-width:100%;margin: 0 auto;" id="19a0dad7-396f-464e-aed5-dc864958eb53" class="inner-content-slide carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover">
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <div class="item-img" role="img" aria-label="" style="padding-bottom: calc((400 / 1347) * 100%);background-image:url(../images/redes-sociais.jpg);background-size:cover">
              </div>
            <div data-appearance="slide_caption_background" class="carousel-caption">
              <h3 data-appearance="slide_title_color">Josué Souza da Silva </h3>
              <a data-appearance="slide_button_background" href="" class="btn btn-primary">
                <span data-appearance="slide_button_text_color">Sobre</span>
              </a>
            </div>
          </div>
          
          <div class="item active left">
            <div class="item-img" role="img" aria-label="" style="padding-bottom: calc((400 / 1347) * 100%);background-image:url(../images/dados.jpg);background-size:cover">
            </div>
            <div data-appearance="slide_caption_background" class="carousel-caption">
              <h3 data-appearance="slide_title_color">Josué Souza da Silva</h3>
              <a data-appearance="slide_button_background" href="#" class="btn btn-primary">
                <span data-appearance="slide_button_text_color">Sobre</span>
              </a>
            </div>
          </div>

          <div class="item next left">
            <div class="item-img" role="img" aria-label="" style="padding-bottom: calc((400 / 1347) * 100%);background-image:url(../images/fundo3.jpg);background-size:cover">
            </div>
            <div data-appearance="slide_caption_background" class="carousel-caption">
              <h3 data-appearance="slide_title_color">Josué Souza da Silva</h3>
              <a data-appearance="slide_button_background" href="#" class="btn btn-primary">
                <span data-appearance="slide_button_text_color">Sobre</span>
              </a>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#19a0dad7-396f-464e-aed5-dc864958eb53" role="button" data-slide="prev"><i class="icon-prev"></i>
        <span class="sr-only">Anterior</span></a>
        <a class="right carousel-control" href="#19a0dad7-396f-464e-aed5-dc864958eb53" role="button" data-slide="next">
        <i class="icon-next"></i>
        <span class="sr-only">Próximo</span></a>
      </div>
    </div>
  </section>
 
  <!-- fim corousel -->
  
  <section class="container atracoes">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group1">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group1">PHP</h3>
            <h4 data-iw-line="subtitle_group1">CRUD</h4>
            <p data-iw-multiline="body_group1">Mais informações</p>
          </div>
          <div style="background-image: url(../images/php.jpg); background-size: cover" class="img-atracoes"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group2">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group2">NodeJs</h3>
            <h4 data-iw-line="subtitle_group2">CRUD</h4>
            <p data-iw-multiline="body_group2">Mais informações</p>
          </div>
          <div style="background-image: url(../images/nodejs.jpg); background-size: cover" class="img-atracoes"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group3">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group3">Django</h3>
            <h4 data-iw-line="subtitle_group3">CRUD</h4>
            <p data-iw-multiline="body_group3">Mais informações</p>
          </div>
          <div style="background-image: url(../images/django.webp); background-size: cover" class="img-atracoes"></div>
        </div>
      </div>
    </div>
    <div class="row espaco_atracoes">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group4">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group4">Java</h3>
            <h4 data-iw-line="subtitle_group4">CRUD</h4>
            <p data-iw-multiline="body_group4">Mais informações</p>
          </div>
          <div style="background-image: url(../images/java.jpg); background-size: cover"  class="img-atracoes"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group5">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group5">Golang</h3>
            <h4 data-iw-line="subtitle_group5">CRUD</h4>
            <p data-iw-multiline="body_group5">Mais informações</p>
          </div>
          <div style="background-image: url(../images/go.png); background-size: cover"  class="img-atracoes"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group6">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group6">Bots</h3>
            <h4 data-iw-line="subtitle_group6">Chats</h4>
            <p data-iw-multiline="body_group6">Mais informações</p>
          </div>
          <div style="background-image: url(../images/bots.webp); background-size: cover" class="img-atracoes"></div>
        </div>
      </div>
    </div>
    <div class="row espaco_atracoes">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group4">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group4">Analises de dados</h3>
            <h4 data-iw-line="subtitle_group4">Exploração e visualização</h4>
            <p data-iw-multiline="body_group4">Mais informações</p>
          </div>
          <div style="background-image: url(../images/dados.jpg); background-size: cover"  class="img-atracoes"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group5">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group5">Blockchain</h3>
            <h4 data-iw-line="subtitle_group5">Contratos inteligentes</h4>
            <p data-iw-multiline="body_group5">Mais informações</p>
          </div>
          <div style="background-image: url(../images/block.jpg); background-size: cover" class="img-atracoes"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group6">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group6">Dashboards</h3>
            <h4 data-iw-line="subtitle_group6">Visualização e analizes</h4>
            <p data-iw-multiline="body_group6">Mais informações</p>
          </div>
          <div style="background-image: url(../images/dash.png); background-size: cover"  class="img-atracoes"></div>
        </div>
      </div>
    </div>
    <div class="row espaco_atracoes">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group4">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group4">Pentest</h3>
            <h4 data-iw-line="subtitle_group4">Hacker ético</h4>
            <p data-iw-multiline="body_group4">Mais informações</p>
          </div>
          <div style="background-image: url(../images/pentest.webp); background-size: cover" class="img-atracoes"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group5">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group5">Departamento pessoal</h3>
            <h4 data-iw-line="subtitle_group5">Gerenciamento e controlhe</h4>
            <p data-iw-multiline="body_group5">Mais informações</p>
          </div>
          <div style="background-image: url(../images/dp.jpg); background-size: cover" class="img-atracoes"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="contorno-atracoes" data-iw-group="group6">
          <div class="caption-atracoes">
            <h3 data-iw-line="title_group6">Administação de rede</h3>
            <h4 data-iw-line="subtitle_group6">Visualização e analizes</h4>
            <p data-iw-multiline="body_group6">Mais informações</p>
          </div>
          <div style="background-image: url(../images/admrede.png); background-size: cover" class="img-atracoes"></div>
        </div>
      </div>
    </div>
  </section>

<!-- fim section -->
  
  <section class="container espaco_atracoes">
    <div class="row destaques">
      <div class="col-xs-12col-sm-12 col-sm-4 col-md-4">
        <div class="thumbnail topicos-destaques" data-iw-group="group7">
          <div style="background-image: url(../images/redes-sociais.jpg); background-size: cover" class="img-atracoes"></div>
          <div class="caption">
            <h3 data-iw-line="title_group7">Automatize o atendimento </h3>
            <p data-iw-multiline="body_group7">No mundo onde a tecnologia avança rapidamente impactando diretamente nos negócios, avance junto e automatize seu atendimento, ganhe tempo e não perca clientes. Crie já seu chat bot de atendimento.</p>
            <a target="" class="hidden btn btn-primary" data-iw-link="link_group7" href="" role="button"></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12col-sm-12 col-sm-4 col-md-4">
        <div class="thumbnail topicos-destaques" data-iw-group="group8">
          <div style="background-image: url(../images/redes-sociais1.jpg); background-size: cover" class="img-atracoes"></div>
          <div class="caption">
            <h3 data-iw-line="title_group8">Desenvolva do zero sua aplicação</h3>
            <p data-iw-multiline="body_group8">Crie seu sistema, seu site e gerencie seu negócio usando as melhores ferramentas disponíveis para desenvolvimento da sua aplicão, de forma segura, com qualidade e facil manutenção.</p>
            <a target="" class="hidden btn btn-primary" data-iw-link="link_group8" href="" role="button"></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12col-sm-12 col-sm-4 col-md-4">
        <div class="thumbnail topicos-destaques" data-iw-group="group9">
          <div style="background-image: url(../images/pentest1.webp); background-size: cover" class="img-atracoes"></div>
          <div class="caption">
            <h3 data-iw-line="title_group9">Veja os graficos de evolução do seu negócio</h3>
            <p data-iw-multiline="body_group9">Veja de forma clara e precisa o andamento do seu negócio. Através da analizes dos dados da sua empresa, vocce poderá tomar decisões que melhorarão seu pessoal seu lucro e encontrar alvos certos para seu investimento.</p>
            <a target="" class="hidden btn btn-primary" data-iw-link="link_group9" href="" role="button"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="is_main" style="display: none"></div>
</main>

<footer class="container rodape">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="copyright1">
				<small>Copyright © 2022 <a href="">JS.CODER</a></small>
			</div>
		</div>
  		
<!-- redes sociais do rodape -->    
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
      <div class="rodape-container">
		      <div class="circulo-redes">
            <a href="https://discord.com/" target="_blank">
              <img src="../images/discord.png " class="fa fa-instagram shape icon-rodape" alt=""></a>
          </div>
          <div class="circulo-redes">
            <a href="https://www.twitch.tv/" target="_blank">
              <img src="../images/twich.png " class="fa fa-instagram shape icon-rodape" alt=""></a>
          </div>
          <div class="circulo-redes">
            <a href="https://mail.google.com/" target="_blank">
              <img src="../images/gmail.png " class="fa fa-instagram shape icon-rodape" alt=""></a>
          </div>

          <div class="circulo-redes">
            <a href="https://mail.proton.me/" target="_blank">
            <img src="../images/protonmail.png " class="fa fa-instagram shape icon-rodape" alt=""></a>
          </div>
          <div class="circulo-redes">
            <a href="https://t.me/Dominio_Hackers/" target="_blank">
           <img src="../images/telegram.png " class="fa fa-instagram shape icon-rodape" alt=""></a>
          </div>
      </div>
			<div class="copyright2">
				<small>Copyright © 2022 <a href="">JS.CODER</a></small>
			</div>
		</div>
	</div>
</footer>

<!-- redes sociais esquerda -->
    <div id="side-social-networks-loguei" role="group" class="list-unstyled btn-group-vertical" style="display: block; left: 0px; top: 286px;">

      <a style="background: url(") target="_blank" href="https://www.facebook.com/" class="facebook btn btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="redes" viewBox="0 0 16 16">
          <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75   7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
        </svg> 
        <i class="bi bi-facebook"></i>
        </a>

      <a target="_blank" href="https://twitter.com/" class="twitter btn btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="redes" viewBox="0 0 16 16">
          <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
        </svg>
        <i class="bi bi-twitter"></i>
      </a>
      
      <a target="_blank" href="https://www.instagram.com/" class="instagram btn btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="redes" viewBox="0 0 16 16">
          <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
        </svg>
        <i class="bi bi-instagram"></i>
      </a>

      <a target="_blank" href="https://www.linkedin.com/in/joshebr/" class="linkedin btn btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="redes" viewBox="0 0 16 16">
          <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
        </svg>
        <i class="bi bi-linkedin"></i>
      </a>

      <a target="_blank" href="https://github.com/joshe21br/joshe21br" class="youtube-play btn btn-default">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="redes" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
        <i class="bi bi-github"></i>  
      </a>
  </div>

<!-- estilizalção do rodape -->
  <style>
    .redes{
  padding: 0px;
  margin:5px;
  width: 25px;
  height: 25px; 
}
</style>

  <aside id="AVS-ContactButtons" class="">
	<ul class="list-unstyled">

		<li>

      <a target="_blank" href="https://api.whatsapp.com/send?phone=5585992853916&amp;text=Contato%20pelo%20seu%20site" class="avs-whatsapp"><span style="right: -200px;">5585992853916</span> 
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class=" bi bi-whatsapp" viewBox="0 0 16 16">
          <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
        </svg>
          <i class="redes bi bi-whatsapp"></i>
      </a>
    </li>

		<li>
      <a role="button" data-toggle="modal" data-target="#ModalAVS-CB-Email" href="#" class="avs-email"><span style="right: -200px;">Envie-nos uma mensagem</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg> 
      <i class="redes bi bi-chat-left-dots"></i>
      </a>
    </li>

		<li>
      <a role="button" data-toggle="modal" data-target="#ModalAVS-CB-Callme" href="#" class="avs-callme"><span style="right: -200px;">Solicite uma ligação</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telephone-forward" viewBox="0 0 16 16">
          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"/>
        </svg>
        <i class="redes   bi bi-telephone-forward"></i>
    </li>
	</ul>
</aside>



<div class="modal fade" id="ModalAVS-CB-Email" tabindex="-1" role="dialog" aria-labelledby="ModalAVS-CB-EmailLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="ModalAVS-CB-EmailLabel">Envie-nos uma mensagem</h4>
			</div>
			<div class="modal-body">
				<form class="iw-contact-form lws-main-form-contact form-fa045a91-4fec-4179-b979-1cd6e0ad1c0f">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="text-1559911182729">Nome completo<span style="color:red;font-weight:bold"> *</span>
                </label>
                <input type="hidden" name="field[text-1559911182729][label]" value="Nome completo">
                <input type="hidden" name="field[text-1559911182729][type]" value="text">
                <input class="form-control" type="text" name="field[text-1559911182729][value]" id="text-1559911182729" required="required">
                <input type="hidden" name="field[text-1559911182729][subtype]" value="text">
              </div>
                <!-- .form-group -->
            </div>
                <!-- .col-xs-12 ... --><div class="col-xs-12"><div class="form-group"><label for="text-1559911200078">Telefone</label><input type="hidden" name="field[text-1559911200078][label]" value="Telefone"><input type="hidden" name="field[text-1559911200078][type]" value="text"><input class="form-control" type="text" name="field[text-1559911200078][value]" id="text-1559911200078"><input type="hidden" name="field[text-1559911200078][subtype]" value="text"></div><!-- .form-group --></div><!-- .col-xs-12 ... --><div class="col-xs-12"><div class="form-group"><label for="text-1559911195582">Email<span style="color:red;font-weight:bold"> *</span></label><input type="hidden" name="field[text-1559911195582][label]" value="Email"><input type="hidden" name="field[text-1559911195582][type]" value="text"><input class="form-control" type="email" name="field[text-1559911195582][value]" id="text-1559911195582" required="required"><input type="hidden" name="field[text-1559911195582][subtype]" value="email"></div><!-- .form-group --></div><!-- .col-xs-12 ... --><div class="col-xs-12"><div class="form-group"><label for="textarea-1559911207846">Mensagem<span style="color:red;font-weight:bold"> *</span></label><input type="hidden" name="field[textarea-1559911207846][label]" value="Mensagem"><input type="hidden" name="field[textarea-1559911207846][type]" value="textarea"><textarea rows="5" class="form-control" id="textarea-1559911207846" name="field[textarea-1559911207846][value]" required="required"></textarea></div><!-- .form-group --></div><!-- .col-xs-12 ... --></div><!-- .row --><input type="hidden" name="lws_form_name" value="Formulário de contato"><input type="hidden" name="lws_form_identifier" value="fa045a91-4fec-4179-b979-1cd6e0ad1c0f"><input type="hidden" name="lws_current_url" value="https://flashbackb12.loguei.com/"><p class="lws-required-info" style="font-size: 13px;">Os campos com <span style="color:red;font-weight:bold">*</span> são obrigatórios.</p><button data-appearance="content_btn_primary_background" class="btn btn-submit btn-primary color-btn"><span data-appearance="content_btn_primary_color">Enviar</span></button><input type="hidden" name="custom_form" value="1"></form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ModalAVS-CB-Callme" tabindex="-1" role="dialog" aria-labelledby="ModalAVS-CB-CallmeLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
				<h4 class="modal-title" id="ModalAVS-CB-CallmeLabel">Solicite uma ligação</h4>
			</div>
			<div class="modal-body">
				<form class="iw-contact-form lws-main-form-call_me form-ee7a6214-71ff-443a-939b-2112a284b4a3">
          <div class="row"><div class="col-xs-12">
            <div class="form-group">
              <p>
                <span style="color: rgb(51, 51, 51); font-family: &quot;Open Sans&quot;, sans-serif; background-color: rgb(255, 255, 255);">Por favor, informe seus dados para que possamos ligar para você.
                </span>
              </p>
            </div><!-- .form-group -->
          </div>
          <!-- .col-xs-12 ... -->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="text-1561081586A">Nome completo
                <span style="color:red;font-weight:bold">*</span>
              </label>
              <input type="hidden" name="field[text-1561081586A][label]" value="Nome completo">
              <input type="hidden" name="field[text-1561081586A][type]" value="text">
              <input class="form-control" type="text" name="field[text-1561081586A][value]" id="text-1561081586A" required="required">
              <input type="hidden" name="field[text-1561081586A][subtype]" value="text">
            </div>
            <!-- .form-group -->
          </div>
          <!-- .col-xs-12 ... -->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="text-1561081586B">Telefone com DDD
                <span style="color:red;font-weight:bold">*</span>
              </label>
              <input type="hidden" name="field[text-1561081586B][label]" value="Telefone com DDD">
              <input type="hidden" name="field[text-1561081586B][type]" value="text">
              <input class="form-control" type="text" name="field[text-1561081586B][value]" id="text-1561081586B" required="required">
              <input type="hidden" name="field[text-1561081586B][subtype]" value="text">
            </div>
            <!-- .form-group -->
          </div>
          <!-- .col-xs-12 ... -->
        </div>
        <!-- .row -->
        <input type="hidden" name="lws_form_name" value="Solicite uma ligação">
        <input type="hidden" name="lws_form_identifier" value="ee7a6214-71ff-443a-939b-2112a284b4a3">
        <input type="hidden" name="lws_current_url" value="https://flashbackb12.loguei.com/">
        <p class="lws-required-info" style="font-size: 13px;">Os campos com <span style="color:red;font-weight:bold">*</span> são obrigatórios.</p>
        <button data-appearance="content_btn_primary_background" class="btn btn-submit btn-primary color-btn">
          <span data-appearance="content_btn_primary_color">Enviar</span>
          </button>
        <input type="hidden" name="custom_form" value="1"></form>
			</div>
		</div>
	</div>
</div>

</body>
<script type="text/javascript" src="../js/site.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</html>
