<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meu App</title>


	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="navbar navbar-light bg-primary">
		</h1 class="navbar-brand"> Joshebr21 - Users <h1>
	</div>
	<br>
	<!-- tela index de login de usuarios  -->
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2>Login</h2>
				<div class="card-body">
					<form action="">
						<div class="mb-2">
  							<label for="exampleFormControlInput1" class="form-label">Email address</label>
  							<input type="email" class="form-control"placeholder="email">
						</div>
						<div class="mb-2">
  							<label for="exampleFormControlTextarea1" class="form-label">Password</label>
  							<input type="password" class="form-control" placeholder="password"><br>
  							<button class="btn btn-primary">Entrar</button>
						</div>
						
					</form>
				</div>
				<a href="./admin/admin">Entrar como administrador</a>
			</div>
		</div>
	</div>
	<!-- Fim tela de logim-->
</body>	
</html>	