<!DOCTYPE html>
<html>
<head>
	<title>Sobre</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/estilo.css">
</head>
<body>

	<div id="area-cabecalho">
		
		<div id="area-logo" >
			<img src="../../images/icon.jpg" class="logo" alt="">
		</div>

		<div id="area-menu">
			<a href="/">Home</a>
			<a href="/users/contato">Contato</a>
		</div>

	</div>

	<div id="area-principal">

		<div style="text-align: center;">
			
			<!-- abertura postagem -->
			<div class="postagem">
				<h2>Josué Souza da Silva</h2>
				
				<img width="620px" src="../../images/fundo2.jpg">
				<p><strong>Programador FullStack</strong>, amante de tecnologia e apaixonado por códigos fontes, <br>
					tenho sempre que possivel procurado me aperfeiçoar ainda que até o momento <br> 
					programe por hobbye e uso essa atividade como uma diversão mergulhando a fundo  <br>
					nesse increvel e promissor mundo da tecnologia.
				</p>

				<p>Ao longo dos anos tenho criando alguns projetos pessoais usando as variadas tecnologias <br>
					como PHP, Python, JavaScript, Django, Java, Css, Bootstrap, NodeJs, R, Golang, Fluter,<br> 
					Dart, desde Front-end a Back-end, com a maioria dos códigos disponiveis no github.
				</p>
				<p>Amo programar e gosto passar horas a fio tentando criar algo ou implementar minhas aplicações. <br>
					Pretendo agora atuar na área de tecnologia profissionalmente, pois é isso que eu gosto e é isso <br>
					que eu realmente quero de fazer.
				</p>

				<p>Atalmente estou muito focado em Machine learning, exploração de dados, processamento de texto <br>
					e imagens, bots e coisas do genero</p>
				<p> Na tecnologia, o céu é o limite... <br>
					Veja meus projetos e se possivel me avalie com um gostei ou não gostei, e caso se interesse <br>
					por  algo do tipo, vamos conversar e ampliar nossos negocios em rumo ao futuro e gerar valores. 	
				</p>
				
			</div><!--// fechamento postagem -->

			<!-- abertura postagem -->
			

		</div>
		

		<div id="rodape">
			Todos os direitos reservados
		</div>

	</div>


<!-- modal login -->



<!-- Fim modal content -->

</body>
</html>
